body{
    display: flex;
    justify-content: left;
    background-color: #C69C72;
}
.menubar {
    height: 15%;
    width: 100vh;
    background-color: #8E6E53;
    font-size: 30pt;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
    
    position: fixed; /* Fix it to the side of the screen */
    left: 0; /* Align it to the left */
    top: 0; /* Start at the top */
}

label{
    background-color: #8E6E53;
}