body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: lightgray;
}
.box {
    height: 200px;
    width: 200px;
    background-color: burlywood;
    font-size: 40pt;
}